.vs/RocketStats/v15/ipch/AutoPCH/e9156e6c9cc7840a/ROCKETSTATS.ipch
.vs/RocketStats/v15/Solution.VC.db
.vs/RocketStats/v15/ipch/AutoPCH/375158fafbc6b409/ROCKETSTATS.ipch
.vs/RocketStats/v15/Browse.VC.db
