.vs/RocketStats/v15/ipch/AutoPCH/e9156e6c9cc7840a/ROCKETSTATS.ipch
.vs/RocketStats/v15/Solution.VC.db
.vs/RocketStats/v15/ipch/AutoPCH/375158fafbc6b409/ROCKETSTATS.ipch
.vs/RocketStats/v15/Browse.VC.db
*.json
.vs/RocketStats/v16/.suo
*.db
.vs/RocketStats/v16/Browse.VC.opendb
*.ipch
.vs/slnx.sqlite
Release/
RocketStatsNuSa/Release/
RocketStatsNuSa/Debug/
RocketStatsNuSa/x64/
RocketStatsNuSa/*.vcxproj
RocketStatsNuSa/Release/RocketStats.tlog/CL.command.1.tlog
RocketStatsNuSa/Release/RocketStats.tlog/CL.read.1.tlog
RocketStatsNuSa/Release/RocketStats.tlog/CL.write.1.tlog
RocketStatsNuSa/Release/RocketStats.tlog/link.command.1.tlog
RocketStatsNuSa/Release/RocketStats.tlog/link.read.1.tlog
RocketStatsNuSa/Release/RocketStats.tlog/link.write.1.tlog
RocketStatsNuSa/Release/RocketStats.tlog/RocketStats.lastbuildstate
RocketStatsNuSa/Release/RocketStats.tlog/RocketStats.write.1u.tlog
RocketStatsNuSa/RocketStatsNuSa.vcxproj
RocketStatsNuSa/RocketStatsNuSa.vcxproj.user
